Flask_Based/flask_session/
Flask_Based/__pycache__/
Flask_Based/config.json
Flask_Based/temp.py
Flask_Based/pems/
Flask_Based/sendMail.py
Flask_Based/services/
Django_Based/db.sqlite3
Django_Based/dump.rdb
Django_Based/CloudOnTips/settings.py
Django_Based/CloudOnTips/__pycache__/
Django_Based/loginApp/__pycache__/
Django_Based/dashboard/__pycache__/
.DS_Store
Django_Based/.DS_Store
Django_Based/static/pems/
Django_Based/dashboard/migrations/*