<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/components/logins/login-9/assets/css/login-9.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        var otp;
        $(document).ready(function () {
            $("#loadingOverlay").hide();
        });
        function auth() {
            $("#loadingOverlay").show();
            var user = document.getElementById("email").value;
            var pass = document.getElementById("password").value;
            $.ajax({
                'url': 'auth',
                'type': 'POST',
                'data': {
                    'user': user,
                    'pass': pass,
                },
                'success': function (response) {
                    $("#loadingOverlay").hide();
                    if (response == -1) alert("Invalid Credentials");
                    else {
                        document.getElementById("otpDiv").style.display = 'inline';
                        document.getElementById("userDiv").style.display = 'none';
                        document.getElementById("passDiv").style.display = 'none';
                        document.getElementById("btn1Div").style.display = 'none';
                        document.getElementById("btn2Div").style.display = 'inline';
                        $.ajax({
                            'url': 'sendOtp',
                            'type': 'post',
                            'data': {
                                'user': user
                            },
                            'success': function (response) {
                                otp = Number.parseInt(response);
                            }
                        });
                    }
                }
            })
        }
        function auth2() {
            var enteredOtp = document.getElementById("otp").value;
            if (otp == enteredOtp) {
                $.ajax({
                    'url': 'authDone',
                    'type': 'POST',
                    'data': { 'user': document.getElementById("email").value },
                    'success': function (response) {
                        window.location.replace("/");
                    }
                });
            }
            else {
                alert("Invalid OTP, try again later...");
                window.location.replace("/");
            }
        }
    </script>
    <style>
        .loading-overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            /* Semi-transparent black overlay */
            z-index: 9999;
            /* Ensure overlay is on top of other content */
        }

        .loading {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10000;
            /* Ensure loading GIF is on top of overlay */
        }
    </style>
</head>

<body style="background-color:rgba(var(--bs-primary-rgb))">
    <div id="loadingOverlay" class="loading-overlay">
        <!-- Loading GIF -->
        <div class="loading">
            <img src="static/assets/img/ll.gif" alt="Loading..." />
        </div>
    </div>
    <!-- Login 9 - Bootstrap Brain Component -->
    <section class="bg-primary py-8 py-md-5 py-xl-8">
        <div class="container">
            <div class="row gy-4 align-items-center">
                <div class="col-12 col-md-6 col-xl-7">
                    <div class="d-flex justify-content-center text-bg-primary">
                        <div class="col-12 col-xl-9">
                            <h1>Cloud On Tips</h1>
                            <hr class="border-primary-subtle mb-4">
                            <h2 class="h1 mb-4">We make virtual private servers available to you on your fingertips.
                            </h2>
                            <p class="lead mb-5">Want a VPS? Don't have enough<br> Cloud Knowledge?<br> Why to worry, we
                                are
                                here for you :)</p>
                            <div class="text-endx">
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                                    class="bi bi-grip-horizontal" viewBox="0 0 16 16">
                                    <path
                                        d="M2 8a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-5">
                    <div class="card border-0 rounded-4">
                        <div class="card-body p-3 p-md-4 p-xl-5">
                            <div class="row">
                                <div class="col-12">
                                    <div class="mb-4">
                                        <h3>Sign in</h3>
                                        <p>Don't have an account? <a href="#!">Sign up</a></p>
                                    </div>
                                </div>
                            </div>
                            <form action="#!">
                                <div class="row gy-3 overflow-hidden">
                                    <div class="col-12" id="userDiv">
                                        <div class="form-floating mb-3">
                                            <input type="email" class="form-control" name="email" id="email"
                                                placeholder="name@example.com" required>
                                            <label for="email" class="form-label">Email</label>
                                        </div>
                                    </div>
                                    <div class="col-12" id="passDiv">
                                        <div class="form-floating mb-3">
                                            <input type="password" class="form-control" name="password" id="password"
                                                value="" placeholder="Password" required>
                                            <label for="password" class="form-label">Password</label>
                                        </div>
                                    </div>
                                    <div class="col-12" style="display: none;" id="otpDiv">
                                        <div class="form-floating mb-3">
                                            <input type="password" class="form-control" name="otp" id="otp" value=""
                                                placeholder="Enter OTP sent to your registered email id" required>
                                            <label for="password" class="form-label">Enter OTP sent to your registered
                                                email</label>
                                        </div>
                                    </div>
                                    <div class="col-12" id="btn1Div">
                                        <div class="d-grid">
                                            <button class="btn btn-primary btn-lg" type="button" onclick="auth()">Log in
                                                now</button>
                                        </div>
                                    </div>
                                    <div class="col-12" id="btn2Div" style="display: none;">
                                        <div class="d-grid">
                                            <button class="btn btn-primary btn-lg" type="button"
                                                onclick="auth2()">Verify OTP</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-12">
                                    <div
                                        class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-end mt-4">
                                        <a href="#!">Forgot password</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <h4>Designed and Developed by</h4>
                                    <h4>Tanishq Rawat</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</body>

</html>