<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Dashboard</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <script src="{{ url_for('static', filename='assets/js/core.min.js') }}"></script>
    <!-- Favicons -->
    <link href="{{ url_for('static', filename='assets/img/favicon.png') }}" rel="icon">
    <link href="{{ url_for('static', filename='assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/quill/quill.snow.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/quill/quill.bubble.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/simple-datatables/style.css') }}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ url_for('static', filename='assets/css/style1.css') }}" rel="stylesheet">
    <script>
        var accName;
        $(document).ready(function () {
            $("#loadingOverlay").hide();
        });
        function hello() {
            //Get user Data
            $.ajax({
                'url': 'getData',
                'type': 'POST',
                'success': function (response) {
                    accName = response;
                    document.getElementById("accName").innerHTML = accName;
                },
                'error': function (response) {
                    console.log(response);
                }
            });
            //Get list of VPS
        }
        function showNotification() {
            var notification = document.getElementById("notification");
            notification.style.display = "block";
            notification.classList.add("animated");
            setTimeout(function () {
                notification.style.display = "none";
                notification.classList.remove("animated");
                setTimeout(function () {
                    window.location.replace("/");
                }, 1000);
            }, 2000); // Hide after 3 seconds

        }
        function createVPS() {
            var name = document.getElementById("vpsName").value.trim();
            if (name.length == 0) {
                alert("VPS name is required");
                return;
            }
            var storage = document.getElementById("vpsStorage").value;
            if (storage == '') {
                alert("VPS storage is required");
                return;
            }
            storage = Number.parseInt(storage);
            if (storage < 10 || storage > 30) {
                alert("VPS storage range is 10GB to 30GB");
                return;
            }
            var os = null;
            if (document.getElementById("opt1").checked) os = document.getElementById("opt1").value;
            else if (document.getElementById("opt2").checked) os = document.getElementById("opt2").value;
            else os = document.getElementById("opt3").value;
            // alert(os);
            var inst = null;
            if (document.getElementById("instance1").checked) inst = "micro";
            else inst = "medium";
            // alert(inst);
            var softList = []
            if (document.getElementById("cpp").checked) softList.push("CPP");
            if (document.getElementById("java").checked) softList.push("JAVA");
            if (document.getElementById("python").checked) softList.push("PYTHON");
            // alert(softList);
            $("#loadingOverlay").show();
            $.ajax({
                'url': 'configureNewVPS',
                'type': 'POST',
                'data': JSON.stringify({
                    'name': name,
                    'storage': storage,
                    'os': os,
                    'inst': inst,
                    'list': softList,
                    'accName': accName
                }),
                contentType: 'application/json',
                'success': function (response) {
                    $("#loadingOverlay").hide();
                    showNotification();
                }
            });
        }
    </script>
    <style>
        .notification {
            position: fixed;
            top: 50px;
            /* Adjust this value for padding from the top */
            left: 40%;
            transform: translateX(-50%);
            z-index: 1050;
            max-width: 400px;
            padding: 15px;
            border-radius: 10px;
            background-color: #4CAF50;
            color: white;
            display: none;
        }

        .notification-content {
            font-size: 20px;
            font-weight: bold;
        }

        .notification.animated {
            animation: slideDown 0.5s ease-out forwards;
        }

        @keyframes slideDown {
            0% {
                transform: translateY(-100%);
            }

            100% {
                transform: translateY(0);
            }
        }
        .loading-overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            /* Semi-transparent black overlay */
            z-index: 9999;
            /* Ensure overlay is on top of other content */
        }

        .loading {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10000;
            /* Ensure loading GIF is on top of overlay */
        }
    </style>
</head>

<body onload="hello()">
    <div class="notification" id="notification">
        <div class="container notification-content">
            VPS Created
        </div>
    </div>

    <div id="loadingOverlay" class="loading-overlay">
        <!-- Loading GIF -->
        <div class="loading">
            <img src="static/assets/img/ll.gif" alt="Loading..." />
        </div>
    </div>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="/" class="logo d-flex align-items-center">
                <img src="{{ url_for('static', filename='img/IPLogo.png') }}" alt="">
                <span class="d-none d-lg-block">Cloud on Tips</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->



        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="{{ url_for('static', filename='assets/img/userProfile.png') }}" alt="Profile"
                            class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2" id="accName"></span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/profile">
                                <i class="bi bi-person"></i>
                                <span>My Profile</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/profile">
                                <i class="bi bi-gear"></i>
                                <span>Account Settings</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/logout">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
              <a class="nav-link " href="/">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
              </a>
            </li><!-- End Dashboard Nav -->
      
      
            <li class="nav-heading">Pages</li>
      
            <li class="nav-item">
              <a class="nav-link collapsed" href="/myvps">
                <i class="bi bi-hdd-rack"></i>
                <span>My Services</span>
              </a>
            </li><!-- End My Server Page Nav -->
      
            <li class="nav-item">
              <a class="nav-link collapsed" href="/newVps">
                <i class="bi bi-database-add"></i>
                <span>New Server</span>
              </a>
            </li><!-- End New Server Page Nav -->
      
            <li class="nav-item">
              <a class="nav-link collapsed" href="/pems">
                <i class="bi bi-file-earmark-easel"></i>
                <span>My PEM</span>
              </a>
            </li><!-- End My PEM Page Nav -->
      
            <li class="nav-item">
              <a class="nav-link collapsed" href="/serverless">
                <i class="bi bi-file-earmark-easel"></i>
                <span>New Serverless Computing</span>
              </a>
            </li><!-- End Serverless Computing Page Nav -->
      
            <li class="nav-item">
              <a class="nav-link collapsed" href="/logout">
                <i class="bi bi-power"></i>
                <span>Logout</span>
              </a>
            </li><!-- End Logout Page Nav -->
          </ul>

    </aside><!-- End Sidebar-->

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Create a new VPS</h1>
        </div><!-- End Page Title -->
        <section class="section dashboard">
            <b>Note: Creating a VPS might take 30-40 seconds, please do not refreshing while loading...</b><br><br>
            <div class="col-sm-2">
                <b>VPS Name:</b> <input type="text" class="form-control" id="vpsName"
                    placeholder="Enter VPS Name (Required)"><br>
                <b>VPS Storage: (Max 30 GB)</b> <input type="number" class="form-control" id="vpsStorage"
                    placeholder="Enter VPS Storage Size" max="30" min="10"><br>
            </div>
            <b>Choose VPS Operating System (Required)</b><br>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="ami" id="opt1" value="ami-0cc9838aa7ab1dce7">
                <label class="form-check-label">
                    Amazon Linux 2023
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="ami" id="opt2" value="ami-0f58b397bc5c1f2e8">
                <label class="form-check-label">
                    Ubuntu Server 24.04 LTS
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="ami" id="opt3" value="ami-05e00961530ae1b55" checked>
                <label class="form-check-label">
                    Ubuntu Server 22.04 LTS
                </label>
            </div><br>
            <b>Choose VPS Instance Type</b><br>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="instance" id="instance1" value="t2micro" checked>
                <label class="form-check-label">
                    T2 Micro (1vCPU & 1GiB Memory)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="instance " id="instance2" value="t2medium" disabled>
                <label class="form-check-label">
                    T2 Medium (2vCPU & 4GiB Memory)
                </label>
            </div><br>
            <b>Choose softwares to be Installed on VPS (Optional)</b><br>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="cpp">
                <label class="form-check-label" for="flexCheckDefault">
                    C & C++
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="java">
                <label class="form-check-label" for="flexCheckChecked">
                    Java
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="python">
                <label class="form-check-label" for="flexCheckChecked">
                    Python
                </label>
            </div>
            <br>
            <button type="button" class="btn btn-primary" onclick="createVPS()">Launch VPS</button>
        </section>
    </main><!-- End #main -->



    <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>

</html>